.form-tracking {
    width: 600px;
    position: absolute;
    top: 43%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.about {
    margin-top: 40px;
    display: flex;
}
.about-left{
    flex: 70%;
}

.about-right img{
    float: right;
    height: 80%;
}
.title {
    display: flex;
    margin: 10px 0 0 200px;
}

h3.OrderNumber {
    margin-left: 10px;
}

h3.amountOrder {
    color: rgb(15, 239, 15);
    margin-left: 10px;
}