.orderTracking {
    margin: 20px auto;
    width: 700px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(250, 250, 242);
}

.orderDetail span.status {
    margin-left: 10px;
    color: rgb(45, 9, 178);
    padding: 5px 3px 5px 3px;
    background-color: rgb(176, 249, 249);
    border-radius: 5%;

}

.my-4 {
    background-color: #ffffff;
}

@mixin tablet-and-up {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin mobile-and-up {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 600px) {
        @content;
    }
}


ul,
li {
    list-style: none;
    padding: 0;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

li.history {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

li.history:last-child {
    border: 0px;
    padding-bottom: 0;
}

li.history:before {
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}


.time {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    @include mobile-and-up {
        font-size: .9rem;
    }

    @include mobile-only {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
    }

}

p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;

    @include mobile-only {
        font-size: .9rem;
    }
}